---
layout: base
permalink: /category/index.html

eleventyComputed:
  title: '{{site.name}} — {{site.title1}}'
  description: '{{site.description1}}'
  seo_title: '{{site.name}} — {{site.title1}}'
  seo_description:  '{{site.description1}}'
  seo_og_title: '{{site.name}} — {{site.title1}}'
  seo_og_description:  '{{site.description1}}'
  seo_og_image: '{{site.url}}{{site.seo_og_image}}'
  seo_og_url: '{{site.url}}'
  seo_twitter_title: '{{site.name}} — {{site.title1}}'
  seo_twitter_description: '{{site.description1}}'
  seo_twitter_image: '{{site.url}}{{site.seo_og_image}}'
  seo_canonical: '{{site.url}}/category'
---

<div class="profiles-section" id="profiles">
  <h1>{{site.name}}</h1>
  <h2>{{site.title1}}</h2>

   <ul class="category-links">
  {% for c in allProfiles %}
    <li><a href="/category/{{ c.category }}/">{{ c.category }}</a></li>
  {% endfor %}
</ul>
  <div class="profile-list" id="profile-list">
    {% for p in allProfiles %}
      <div class="profile-card" data-region="{{ p.city }}" data-category="{{ p.category }}">
        <img
          class="profile-card__image"
          width="300"
          height="200"
          src="{{ p.image_url | default: '/img/placeholder.png' }}"
          alt="Фото профиля {{ p.name }}"
        />
        <div class="profile-card__description">
          <h3>{{ p.name }}</h3>
          <p>{{ p.city }}, {{ p.category }}</p>
          <a href="/profiles/{{ p.id | slugify }}/">Подробнее</a>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

<script>
const regionSelect = document.getElementById('region-select');
const categorySelect = document.getElementById('category-select');
const profileList = document.getElementById('profile-list');
const profiles = profileList.querySelectorAll('.profile-card');

function filterProfiles() {
  const region = regionSelect.value;
  const category = categorySelect.value;

  profiles.forEach(profile => {
    const matchRegion = region === 'все' || profile.dataset.region === region;
    const matchCategory = category === 'все' || profile.dataset.category === category;
    profile.style.display = matchRegion && matchCategory ? 'block' : 'none';
  });
}

regionSelect.addEventListener('change', filterProfiles);
categorySelect.addEventListener('change', filterProfiles);
</script>
