<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="robots" content="index, follow">
  <meta name="keywords" content="модели Майами, фотографы Халландейл, стилисты Корал-Гейблс, ModelConnect Miami">
  <title>{{ title }}</title>
  <meta name="description" content="{{ description }}">
  <meta property="og:title" content="{{ seo_og_title }}">
  <meta property="og:site_name" content="{{ site.name }}">
  <meta property="og:locale" content="ru_RU">
  <meta property="og:description" content="{{ seo_og_description }}">
  <meta property="og:image" content="{{ seo_og_image }}">
  <meta property="og:url" content="{{ seo_og_url }}">
  <meta property="og:type" content="website">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="{{ seo_twitter_title }}">
  <meta name="twitter:description" content="{{ seo_twitter_description }}">
  <meta name="twitter:image" content="{{ seo_twitter_image }}">
  <link rel="canonical" href="{{ seo_canonical }}">
  <link rel="icon" type="image/x-icon" href="{{ site.url }}/favicon.ico">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ site.url }}/img/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ site.url }}/img/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ site.url }}/img/favicon-16x16.png">
  <link rel="manifest" href="{{ site.url }}/img/site.webmanifest">
  <link rel="preload" href="/css/style.css" as="style">
  <link rel="dns-prefetch" href="https://api.cloudinary.com">
  <link rel="dns-prefetch" href="{{ env.SUPABASE_URL }}">
  <link rel="stylesheet" href="/css/style.css">
  <script type="application/ld+json">
    {{ seo_json_ld  }}
  </script>
  <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-4CXZPMW012"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-4CXZPMW012');
</script>
</head>
<body>
  <nav>
    <ul class="nav-list">
      <li><a href="/">Главная</a></li>
      <li><a href="/region/">Регионы</a></li>
      <li><a href="/category/">Категории</a></li>
      <li><a href="/add-profile/">Добавить профиль</a></li>
    </ul>
  </nav>

  <main>
    {{ content }}
  </main>

  <footer class="site-footer">
    <p>© 2025 ModelConnect Miami</p>
  </footer>
  <script src="/js/filters.js" defer></script>
</body>
</html>